**/*

!dist/
!dist/**/*.js
dist/**/*.map
!package.json
!README.md
!LICENSE
!CHANGELOG.md

.git/**
.gitignore
.gitmodules
.vscode/**
.vscode-test/**
src/**
node_modules/**
headwind/**
tailwindcss-intellisense/**
*.ts
tsconfig.json
bun.lock
package-lock.json
